@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-themeBase text-themeText;
  }
}
.fixed-width-height {
  width: 50%; /* Replace with your desired width */
  height: 1011px; /* Replace with your desired height */
}

.rounded-lg {
  border-radius: 8px; /* Adjust the value to control the roundness of the corners */
}

.bg-rgba-opacity {
  background-color: rgba(26, 27, 30, 0.85); /* Replace with your desired RGB color values and opacity */
}

.bg-transparent{
  background-color: rgba(255, 255, 255, 0.15); 


}

table th,tr{
  font-size: 10px;
}
table th,tr{
  padding: 10px;
}
td{
  padding: 10px 10px 0px 10px;
}
.border{
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.2)
}

.buttonhover:hover{

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;

}